<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <ul>
    <li>
      {{status}}
    </li>
    <li>
      <button (click)="onGetToken()">Get Token</button>
    </li>
    <li>
      <button (click)="onPing()">Ping Server</button>
    </li>
    <li>
      <button (click)="readConsoleErrors()">Read Log</button>
    </li>
  </ul>

  <ul>
    <li *ngFor="let log of errors">
      {{log | json}}
    </li>
  </ul>

  <ul>
    <li *ngFor="let log of debugs">
      {{log | json}}
    </li>
  </ul>

<router-outlet></router-outlet>
